.container-mesaconcentrada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-principal {
    text-align: center;
  }
  
  .container-parts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  
  .container-parts-name {
    text-align: center;
  }
  
  .container-parts-detalles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .container-parts-detalles > div > img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }
  