@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Russo+One&display=swap");
.container-infraestructura {
  display: grid;
  margin-top: 60px;
}

.nombre-infraestructura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: url("/src/assets/img/nosotros/fondo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: moveUpDown 5s infinite alternate;
}
.nombre-infraestructura h2 {
  font-size: 50px;
  font-family: "Russo One", sans-serif;
}
.slider-container {
  height: auto;
}
.img-infraestructura {
  position: relative;
  width: 100%;
  border-radius: 50px;
  border: 5px black solid;
  margin: 10px;
}

.container-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.slider-img {
  grid-column: span 2;
}

.slider-titulo {
  text-align: justify;
  margin: 20px;
}
.slider-titulo h3 {
  text-align: center;
}

.slider-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1; 
}

.slider-button:hover {
  background-color: #0056b3;
}

.prev {
  float: left;
  margin-top: -25%;
}

.next {
  float: right;
  margin-top: -25%;
}
