.conponent-contactosend {
  background-color: #eb6c1f;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
}

.h2-margin-contactos {
  margin-top: 20px;
  margin-left: 20px;
}

ion-icon {
  width: 50px;
  height: 50px;
}

.conponent-centericonos {
  margin-top: 20px;
  align-items: center;
}
.conponent-centericonos a {
  text-decoration: none;
  color: white;
}

.conponent-contaciconos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.conponent-contaciconos > div {
  text-align: center;
}
.container-derechos {
  text-align: center;
}

.Derechos {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .conponent-contaciconos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}