@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Russo+One&display=swap");
.container-infraestructura {
  display: grid;
  margin-top: 60px;
}

.nombre-infraestructura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: url("../assets/img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: moveUpDown 5s infinite alternate;
}
.nombre-infraestructura h2 {
  font-size: 50px;
  font-family: "Russo One", sans-serif;
}

.slider-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

figure {
  position: absolute;
  left: 0;
  width: 1000%; /* 100% times the number of slides (10 slides) */
  animation: 55s container-slider infinite; /* Adjust the animation duration accordingly */
}

.container-slider {
  position: relative;
  width: 10%; /* 100% divided by the number of slides (10 slides) */
  float: left;
  display: grid;
  grid-template-columns: 3fr 1fr;;
}
.container-slider img {
  width: 100%;
  height: 90vh;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos previos ... */

/* Ajustar los estilos de los botones */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: none;
  outline: none;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.slider-titulo {
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center;
  background-color: white;
}
.slider-titulo h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el h3 y la imagen */
  margin-top: 20px; /* Espacio entre el h3 y la imagen */
  color: black;
}
.slider-titulo p {

  text-align: center;
  margin-right: 20px; 
  margin-left: 20px;
  text-align: justify;
  
}

@media screen and (max-width: 767px) {
  .nombre-infraestructura h2 {
    font-size: 40px;
    font-family: "Russo One", sans-serif;
  }
  
  .container-slider {
    grid-template-columns: 1fr; /* Adjust the grid template columns for smaller screens */
  }

  .container-slider img {
    height: auto; 
  }

  .slider-titulo h3 {
    padding: 0;
    margin: 10px 0; /* Add margin to the title */
  }
 
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-slider {
    grid-template-columns: 1fr; /* Adjust the grid template columns for smaller screens */
  }

  .container-slider img {
    height: auto; 
  }

  .slider-titulo h3 {
    padding: 0;
    margin: 10px 0; /* Add margin to the title */
  }
}