@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Russo+One&display=swap");
.container-productos {
  display: grid;
  margin-top: 60px;

  background-attachment: fixed;
}

.categoria-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: url("../assets/img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: moveUpDown 5s infinite alternate;
}
.categoria-producto h2 {
  font-size: 50px;
  font-family: "Russo One", sans-serif;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  column-gap: 50px;
 
}

/* New container class to wrap the productos divs */
.productos-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow flex items to wrap to a new line */
}

.productos {
  width: 100%; /* Set the width to 100% so that each product takes the full width of its container */
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nomnbre-producto h2,
.nomnbre-producto h3 {
  text-align: center;
  margin-bottom: 10px;
}

.container-img-producto {
  text-align: center;
  position: relative;
}

.img-productos {
  width: 100%;
  height: 300px;
}

.boton {
  background-color: #eb6c1f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton:hover {
  background-color: #d4550f;
}



/*.botones-detalles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}*/

.container-img-producto:hover .botones-detalles {
  opacity: 1;
}
@keyframes moveUpDown {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 60%;
  }
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.container-productos {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
}
@media screen and (max-width: 767px) {
  .grid-productos {
    grid-template-columns: repeat(1, 1fr);

    grid-row-gap: 0px;
  }
  .categoria-producto h2 {
    font-size: 40px; /* Ajustar el tamaño según tus preferencias */
  }


}
@media screen and (min-width: 768px) and (max-width: 1199px){
  .grid-productos {
    grid-template-columns: repeat(2, 1fr);

    grid-row-gap: 0px;
  }
  .categoria-producto h2 {
    font-size: 40px; /* Ajustar el tamaño según tus preferencias */
  }
}