.container-productosestilos {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  animation: 6s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
}

.container-parts-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: url("/src/assets/img/nosotros/fondo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: moveUpDown 5s infinite alternate;
}

.container-descripcion-partes {
  margin: 20px;
  text-align: justify;
}

.container-parts-name h2 {
  font-size: 50px;
  font-family: "Russo One", sans-serif;
}

.image-partes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.imagen-partes {
  width: 600px;
  height: auto;
}

.caracteristicas-table-partes {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.caracteristicas-table-partes th,
.caracteristicas-table-partes td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.caracteristicas-table-partes th {
  background-color: #f2f2f2;
}

@keyframes moveUpDown {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 60%;
  }
}
@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media screen and (max-width: 767px) {
  .container-parts-name h2 {
    font-size: 30px;
  }
  .imagen-partes {
    width: 400px;
    height: 250px;
  }
  .scroll-partes {
      overflow-x: auto;
  }
}