.container-email {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

.container-email h2 {
  text-align: center;
}

.email-contenido {
  margin-bottom: 15px;
}
.email-contenido textarea {
  resize: none;
}

.email-contenido label {
  display: block;
  font-weight: bold;
}

.email-contenido input[type="text"],
.email-contenido input[type="email"],
.email-contenido textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #eb6c1f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #eb6c0f;
}


