.container-mapa {
  margin-top: 60px;
}
.formulario {
  display: flex;
  height: 99vh;
}
.formulario-iconos-contacto {
  flex: 1;
  margin-left: 20px;
  margin-top: 50px;
}
.formulario-iconos-contacto h2 {
  text-align: center;
}
.formulario-emaild {
  flex: 1;
  margin-right: 20px;
  margin-top: 50px;
}
.ico-name {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  
}
.ico-name p {
  margin-left: 20px;
}
#facebook {
  color: #3b5998; /* Color de Facebook */
  cursor: pointer;
  transition: transform 0.3s; 
}
#whatsapp {
  color: #25d366;
  cursor: pointer;
  transition: transform 0.3s; 
}
#linkedin {
  color: #126bc4;
  cursor: pointer;
  transition: transform 0.3s; 
}
#facebook:hover,
#whatsapp:hover,
#linkedin:hover,
#telefono:hover {
  transform: scale(1.1);
}
.gmap_iframe {
  width: 100%;
  height: 100vh;
}


