.container-mapa {
  margin-top: 60px;
  background-color: red;
}
.contenido a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  height: 99vh;
}

.formulario-iconos-contacto h2 {
  text-align: center;
}

.formulario-iconos-contacto {
  margin-top: 50px;
}
.formulario-emaild {
  margin-top: 50px;
}

.ico-name {
  display: flex;

  margin-top: 20px;
}
.contenido {
  margin-left: 30%;
}

.ico-name p {
  margin-left: 20px;
}
#facebook {
  color: #1f7bf2;
  cursor: pointer;
  transition: transform 0.3s;
}
#whatsapp {
  color: #25d366;
  cursor: pointer;
  transition: transform 0.3s;
}
#linkedin {
  color: #126bc4;
  cursor: pointer;
  transition: transform 0.3s;
}
#direccion {
  cursor: pointer;
  transition: transform 0.3s;
}
#facebook:hover,
#whatsapp:hover,
#linkedin:hover,
#telefono:hover,
#direccion:hover {
  transform: scale(1.1);
}
.gmap_iframe {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
}

@media screen and (max-width: 767px) {
  .formulario {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    width: auto;
  }
  .formulario-emaild {
    margin-top: 0px;
  }
  .contenido {
    margin-left: 10%;
  }
}
