.gmap_iframe {
  margin-top: 1px;
   width: 100%;
   height: 99%; 
 
  }
  .container-mapa {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 99vb;
  }
  
  .formulario {
    grid-column: 1;
    margin-top: 5%;
   }
   


  
  .mapa {
    grid-column: 2;
  }
  