.img-small {
    width: 400px;
    height: 50px;
    margin-left: 20px;
  }
.custom-navbar{
    background-color: #EB6C1F    ;
    
}
.nav-link{
    color: white;
}
.dropdown-item {
    white-space: normal;
  
  }
  
