.container-productos {
  display: grid;
  margin-top: 60px;
}
.categoria-producto {
  margin-top: 20px;
  text-align: center;
}
.grid-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.productos {
  padding: 20px;
}

.nomnbre-producto h2,
.nomnbre-producto h3 {
  text-align: center;
  margin-bottom: 10px;
}

.container-img-producto {
  text-align: center;
}

.img-productos {
  width: 500px;
  height: 550px;
}

.botones-detalles {
  margin-top: 10px;
}

.btn {
  cursor: pointer;
}
