.container-productos {
  display: grid;
  margin-top: 60px;
}
.categoria-producto{
  margin-top: 20px;
  text-align: center;
}
.grid-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.productos {
  padding: 20px;
}

.nomnbre-producto h2, .nomnbre-producto h3 {
  text-align: center;
  margin-bottom: 10px;
}

.container-img-producto {
  text-align: center;
}

.img-productos {
  width: 550px;
  height: 600px;
}

.botones-detalles {
  margin-top: 10px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}