
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Russo+One&display=swap');
.container-productos {
  display: grid;
  margin-top: 60px;

  background-attachment: fixed; /* Fija la imagen de fondo */
}


.categoria-producto {
  display: flex; /* Utilizamos Flexbox */
  flex-direction: column; /* Mostramos los elementos en una columna */
  justify-content: center; /* Centramos verticalmente los elementos */
  align-items: center; /* Centramos horizontalmente los elementos */
  text-align: center;
  height: 150px;
  background-image: url('../assets/img/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: moveUpDown 5s infinite alternate; /* Aquí indicamos la animación */
}
.categoria-producto h2 {
  font-size: 50px; 
  font-family: 'Russo One', sans-serif;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  grid-gap: 50px;
}

/* New container class to wrap the productos divs */
.productos-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow flex items to wrap to a new line */
}

.productos {
  width: 100%; /* Set the width to 100% so that each product takes the full width of its container */
  padding: 20px;
}

.nomnbre-producto h2,
.nomnbre-producto h3 {
  text-align: center;
  margin-bottom: 10px;
}

.container-img-producto {
  text-align: center;
  position: relative;
 
  
 }

.img-productos {
  width: 100%; 
  height: 300px; 
  
}


.btn {
  cursor: pointer;
}

.botones-detalles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.container-img-producto:hover .botones-detalles {
  opacity: 1;
}
@keyframes moveUpDown {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 60%;
  }
}