@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Russo+One&display=swap");
.container-servicios {
  display: grid;
  margin-top: 60px;
}

.nombre-servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  background-image: url("../assets/img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.nombre-servicios h2 {
  font-size: 50px;
  font-family: "Russo One", sans-serif;
}

.img-servicios {
  width: 100%;
  height: 250px;
}
.container-img-servicios {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column-gap:5px;
  grid-row-gap: 5px;
  margin-left: 70px;
  margin-right: 70px;
}
.tipo-servicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  color: white;
}
.img-servicio {
  position: relative;
  border: 2px solid black;
}

.piezas-servicio-nombre{
  text-align: center;
}
.container-parts-servicio {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  grid-column-gap:5px;
  grid-row-gap: 5px;
  margin-left: 150px;
  margin-right: 150px;
}
.img-pieza-servicio {
  width: 100%;
  height: 200px;
  border: 2px solid black;
}
.piezas-servicio {
  position: relative;
  
}