.container-procesos {
  margin-top: 60px;
  
}

.titulo-proceso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-image: url("/src/assets/img/nosotros/fondo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: moveUpDown 5s infinite alternate;
}
.titulo-proceso h2 {
  font-size: 50px;
  font-family: "Russo One", sans-serif;
}

.container-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px){
  .titulo-proceso h2 {
    font-size: 40px;
  }
  .img-proceso {
    width: 96%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
  .img-proceso{
    width: 96%;
    height: auto;
  }
}